* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(207, 201, 201);
    color: rgb(63, 59, 59);
}


.site-header, .site-footer{
    background-color: rgb(68, 197, 98);
    color: white;
    padding: 20px 0;
}
.main-navigation ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-navigation a{
    color: white;
    text-decoration: none;
}

.main-navigation li{
    padding: 0 15px;
}

.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}
.profile-grid{
    padding-top: 30px;
}
.profile-pic{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;

}


.project-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 10px;
    padding-bottom: 30px;
}

.project-item{
    background-color: white;
    box-shadow: 0 0 10px #b3b0b0;
    border-radius: 5px;
}

.project-item img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-bottom: 3px solid;
}

.project-info{
    padding: 10px;
}
.formation{
    padding-top: 5px;
    padding-bottom: 20px;
}
.formation ul{
    list-style-type: none;
    padding: 0;
}

.contact-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 0;
}

.contact-grid ul{
    display: flex;
    justify-content: left;
    list-style-type: none;
}

.contact-grid li{
    background-color: rgb(46, 97, 29);
    box-shadow: 0 0 10px #b3b0b0;
    border-radius: 5px;
    padding: 8px 60px;
    margin-right: 15px;
  
}

.contact-grid img {
    width: 30px; /* Ajuste a largura conforme necessário */
    height: auto;
    margin-left: 10px; /* Espaçamento entre a imagem e o texto */
}

.contact-grid a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}